$r:rgba(187, 3, 3, 0.904);
$w: white;
$b: black;
$m: rgba(255, 0, 0, 0.192);
$v: rgba(163, 8, 137, 0.849);

$Alternos:(alterno1:rgba(226, 53, 0, 0.877), alterno2:rgb(236, 232, 0),alterno3:rgb(162, 0, 255));