.nuevasideas {
  background-color: rgba(226, 53, 0, 0.877);
}

.derivados2 {
  color: rgb(162, 0, 255);
}

@media screen and (min-width: 1280px) {
  #body {
    color: white;
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    position: relative;
  }

  .bloque1 {
    display: flex;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    border-radius: 20px;
  }
  .bloque1 .haters {
    display: flex;
    position: relative;
    text-align: center;
    margin-top: -100px;
    margin-left: 165%;
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
  }
  .articulos {
    display: flex;
    color: white;
    text-align: center;
    margin-top: -50px;
    margin-left: 20px;
  }
  .calavera {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0.5;
    margin: 5px;
  }
  .bloque2 {
    color: black;
    background-color: black;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
  }
  .bloque2 img {
    height: 100px;
    width: 25%;
    border: 20px;
    margin: 5%;
    position: center;
  }
  .Notificaciones {
    width: 100%;
    height: 25px;
    background-color: black;
    display: flex;
    justify-content: right;
    opacity: 0.3;
  }
  .Notificaciones .visually-hidden {
    color: rgba(187, 3, 3, 0.904);
    font-size: medium;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    float: right;
    margin-right: 10px;
    border-radius: 10px;
  }
  .lanzamientos {
    display: flex;
    width: 100%;
    margin-top: -20px;
    justify-content: center;
    color: rgba(187, 3, 3, 0.904);
    text-align: center;
  }
  .bloque3 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .bloque3 ul a {
    font-size: medium;
    font-family: "Courier New", Courier, monospace;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
  }
  .bloque4 {
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    background-image: url(/Proyecto/assets/angelcaido1.jpg);
    -webkit-animation: movimiento 10s infinite linear alternate;
            animation: movimiento 10s infinite linear alternate;
    background-size: 100%;
    border-radius: 40px;
  }
  .bloque4 .angel_caido {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    opacity: 0.2;
    position: relative;
  }
  @-webkit-keyframes movimiento {
    from {
      background-position: bottom;
    }
    to {
      background-position: top left;
    }
  }
  @keyframes movimiento {
    from {
      background-position: bottom;
    }
    to {
      background-position: top left;
    }
  }
  .ruso {
    font-size: larger;
    font-family: "Courier New", Courier, monospace;
    margin-left: 25px;
    margin-top: -500px;
    color: rgba(187, 3, 3, 0.904);
    font-size: 25px;
    text-align: center;
  }
  .hotsale {
    margin-top: 100%;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    -webkit-animation: cambiar 6s infinite alternate;
            animation: cambiar 6s infinite alternate;
    margin-top: 100px;
  }
  @-webkit-keyframes cambiar {
    0% {
      margin-right: 0;
    }
    20% {
      margin-right: 0;
    }
    25% {
      margin-right: 10px;
    }
    30% {
      margin-right: 15px;
    }
    40% {
      margin-right: 25px;
    }
    50% {
      margin-right: -25px;
    }
    60% {
      margin-right: -30px;
    }
    70% {
      margin-right: -80px;
    }
    80% {
      margin-right: 30px;
    }
    90% {
      margin-right: 80px;
    }
  }
  @keyframes cambiar {
    0% {
      margin-right: 0;
    }
    20% {
      margin-right: 0;
    }
    25% {
      margin-right: 10px;
    }
    30% {
      margin-right: 15px;
    }
    40% {
      margin-right: 25px;
    }
    50% {
      margin-right: -25px;
    }
    60% {
      margin-right: -30px;
    }
    70% {
      margin-right: -80px;
    }
    80% {
      margin-right: 30px;
    }
    90% {
      margin-right: 80px;
    }
  }
  .footer {
    color: rgba(187, 3, 3, 0.904);
    text-align: end;
    margin-top: 330px;
    margin-right: 20px;
  }
  .footer2 {
    width: 100%;
    height: 100%;
    display: Flex;
    background-color: black;
    justify-content: center;
  }
  .footer2 .suscribirse, .footer2 .nuevasideas {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    background-color: rgba(146, 144, 144, 0.644);
  }
  .footer2 .suscribirse .derivados, .footer2 .nuevasideas .derivados, .footer2 .suscribirse .derivados2, .footer2 .nuevasideas .derivados2 {
    list-style: none;
    text-decoration: none;
    color: rgba(187, 3, 3, 0.904);
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
  }
  /*----- termina el index----*/
  .bloque21 {
    color: black;
    background-color: black;
    height: 200px;
    width: 100%;
    display: flex;
  }
  .cervo {
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: 45px;
    margin-left: 60px;
  }
  .formas {
    height: 100%;
    width: 50%;
    margin-top: -140px;
    margin-left: 460px;
    font-family: "Courier New", Courier, monospace;
    color: rgba(187, 3, 3, 0.904);
    font-size: 25px;
  }
  .box {
    width: 220px;
    height: 25px;
    float: right;
    position: relative;
    margin-top: -50px;
    margin-right: 50px;
  }
  .vete {
    width: 100%;
    height: 100%;
    color: black;
    margin-left: 10px;
    position: relative;
  }
  .container{
    color: red;
  }
  .buzoremeras {
    width: 100%;
    height: 100%;
  }
  .contactos {
    width: 300px;
    height: 75px;
    float: right;
    position: relative;
    margin-top: -100px;
    margin-right: 50px;
  }
  .contactos1 {
    width: 100%;
    height: 100%;
    color: rgba(187, 3, 3, 0.904);
    margin-left: 10px;
    position: relative;
    font-family: "Courier New", Courier, monospace;
    list-style: none;
  }
  .instagram {
    font-size: large;
    list-style: none;
    text-decoration: none;
  }
  .bloque41 {
    width: 600px;
    height: 100%;
    display: flex;
  }
  .angelmuriendo {
    display: flex;
    height: 800px;
    width: 100%;
    border-radius: 20px;
    opacity: 0.3;
    position: relative;
  }
  .input {
    height: 150px;
    width: 75%;
    margin-left: 25px;
    display: flex;
    margin-left: 25px;
    margin-top: -800px;
    position: absolute;
  }
  .input1 {
    width: 275px;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.192);
    color: white;
    padding-top: 20px;
    border-radius: 25%;
    text-align: center;
    border-bottom: 3px solid;
  }
  .acuerdo {
    font-size: 60px;
    color: white;
  }
  .button {
    width: 275px;
    height: 60px;
    border-radius: 25%;
    background-color: rgba(255, 0, 0, 0.192);
    color: white;
  }
  .about {
    width: 100%;
    height: 900px;
  }
  .mascaras {
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
  .raro {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: rgba(187, 3, 3, 0.904);
    margin-top: -500px;
  }
  .back {
    font-size: xx-large;
    list-style: none;
    text-decoration: none;
    color: rgba(187, 3, 3, 0.904);
    font-size: xx-large;
    border-radius: 10px;
    padding: 5px;
  }
  .Comentarios {
    width: 100%;
    height: 100%;
    display: flex;
    color: rgba(187, 3, 3, 0.904);
  }
  .textodearea {
    width: 100%;
    height: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 40PX;
    text-align: center;
    color: rgba(187, 3, 3, 0.904);
    opacity: 0.3;
    border-radius: 20px;
    justify-content: center;
  }
  .Send {
    float: center;
    width: 200px;
    font-family: "Courier New", Courier, monospace;
    color: rgba(187, 3, 3, 0.904);
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  #body {
    color: white;
    background-color: black;
    font-family: "Courier New", Courier, monospace;
    position: relative;
  }
  .bloque1 {
    display: flex;
    height: 50px;
    width: 100%;
    position: relative;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin-top: -50px;
    font-size: 10px;
  }
  .calavera {
    height: 50px;
    width: 100%;
    border-radius: 25px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0.2;
    margin: 5px;
  }
  .articulos {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: medium;
    font-size: small;
    color: rgba(163, 8, 137, 0.849);
  }
  .bloque2 {
    color: black;
    background-color: black;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bloque2 img {
    height: 100px;
    width: 45%;
    color: rgba(255, 0, 0, 0.192);
    margin-right: 20px;
  }
  .bloque21 {
    color: black;
    background-color: black;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cervo {
    height: 120px;
    width: 200px;
    display: flex;
    position: center;
    float: center;
  }
  .formas {
    height: 15px;
    width: 50%;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 15px;
  }
  .Notificaciones {
    width: 100%;
    height: 25px;
    background-color: white;
    display: flex;
    justify-content: right;
    opacity: 0.3;
    border-radius: 20px;
  }
  .Notificaciones .visually-hidden {
    color: black;
    font-size: medium;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    float: right;
    margin-right: 10px;
    border-radius: 10px;
  }
  .lanzamientos {
    display: flex;
    width: 100%;
    margin-top: -20px;
    justify-content: center;
    color: rgba(163, 8, 137, 0.849);
    text-align: center;
  }
  .bloque3 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .bloque3 ul a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
  }
  .angel_caido {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 40px;
    opacity: 0.3;
    position: relative;
  }
  @-webkit-keyframes movimiento {
    from {
      background-position: bottom;
    }
    to {
      background-position: top left;
    }
  }
  @keyframes movimiento {
    from {
      background-position: bottom;
    }
    to {
      background-position: top left;
    }
  }
  .bloque4 {
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    background-image: url(/Proyecto/assets/angelcaido1.jpg);
    background-size: 100%;
    -webkit-animation: movimiento 10s infinite linear alternate;
            animation: movimiento 10s infinite linear alternate;
    border-radius: 40px;
  }
  .bloque4 .angel_caido {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    opacity: 0.3;
    position: relative;
  }
  .ruso {
    font-family: "Courier New", Courier, monospace;
    margin-left: 25px;
    margin-top: -500px;
    color: rgba(163, 8, 137, 0.849);
    font-size: 25px;
    text-align: center;
  }
  .hotsale {
    margin-top: 80px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: rgba(163, 8, 137, 0.849);
  }
  .footer {
    color: rgba(163, 8, 137, 0.849);
    text-align: end;
    margin-top: 330px;
    margin-right: 20px;
  }
  .footer2 {
    display: Flex;
    width: 100%;
    height: 100px;
    background-color: black;
    justify-content: center;
  }
  .footer2 .suscribirse, .footer2 .nuevasideas {
    width: 50%;
    height: 50%;
    border-radius: 20px;
    background-color: rgba(146, 144, 144, 0.644);
  }
  .footer2 .suscribirse .derivados, .footer2 .nuevasideas .derivados, .footer2 .suscribirse .derivados2, .footer2 .nuevasideas .derivados2 {
    list-style: none;
    text-decoration: none;
    color: rgba(163, 8, 137, 0.849);
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
  }
  /* termina index*/
  .bloque21 {
    color: black;
    background-color: black;
    height: 200px;
    width: 100%;
    display: flex;
  }
  .bloque21 .cervo {
    height: 100px;
    width: 200px;
    display: flex;
    float: left;
  }
  .formas {
    height: 100px;
    width: 50%;
    margin-top: -50px;
    margin-left: 100px;
    font-family: "Courier New", Courier, monospace;
    color: rgba(163, 8, 137, 0.849);
    font-size: 15px;
  }
  .box {
    width: 220px;
    height: 25px;
    float: right;
    position: relative;
    margin-top: -100px;
    margin-right: 50px;
  }
  .box .vete {
    width: 100%;
    height: 100%;
    color: black;
    margin-left: 5px;
    position: relative;
  }
  .contenedorventa {
    width: 100%;
    height: 100%;
    background-color: rgba(163, 8, 137, 0.849);
    justify-content: center;
    align-items: center;
  }
  .contenedorventa .padre {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 125px);
    grid-template-rows: repeat(3, 125px);
    justify-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
    align-content: space-around;
    background-color: rgba(163, 8, 137, 0.849);
    margin-left: 25%;
  }
  .contenedorventa .padre .hijo {
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
    margin-left: 10px;
  }
  .buzoremeras {
    width: 100%;
    height: 100%;
  }
  .contactos {
    width: 300px;
    height: 75px;
    float: right;
    position: relative;
    margin-top: -100px;
    margin-right: 50px;
  }
  .contactos1 {
    color: rgba(163, 8, 137, 0.849);
    width: 100%;
    height: 100%;
    margin-left: 10px;
    position: relative;
    font-family: "Courier New", Courier, monospace;
    list-style: none;
  }
  .bloque41 {
    width: 100%;
    height: 800px;
    display: flex;
  }
  .angelmuriendo {
    display: flex;
    height: 500px;
    width: 100%;
    border-radius: 20px;
    opacity: 0.3;
  }
  .input {
    display: flex;
    height: 150px;
    width: 25%;
  }
  .input1 {
    display: flex;
    width: 125px;
    height: 40px;
    background-color: rgba(163, 8, 137, 0.849);
    color: white;
    padding-top: 20px;
    border-radius: 25%;
    text-align: center;
    border-bottom: 3px solid;
  }
  .button {
    width: 300px;
    height: 70px;
    border-radius: 25%;
    background-color: rgba(163, 8, 137, 0.849);
    color: white;
  }
  /* aca comienza pagina about us */
  .about {
    width: 100%;
    height: 500px;
  }
  .mascaras {
    width: 100%;
    height: 500px;
    opacity: 0.2;
  }
  .raro {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    color: rgba(163, 8, 137, 0.849);
    margin-top: -300px;
    margin-right: 20px;
  }
  .back {
    font-size: xx-large;
    list-style: none;
    text-decoration: none;
    color: rgba(163, 8, 137, 0.849);
    font-size: xx-large;
    border-radius: 10px;
    padding: 5px;
  }
  .Comentarios {
    width: 100%;
    height: 100%;
    display: flex;
    color: rgba(163, 8, 137, 0.849);
  }
  .textodearea {
    width: 100%;
    height: 50px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20PX;
    text-align: center;
    color: rgba(163, 8, 137, 0.849);
    opacity: 0.3;
    border-radius: 10px;
    justify-content: center;
  }
  .Send {
    float: center;
    width: 200px;
    font-family: "Courier New", Courier, monospace;
    color: black;
    font-size: 20px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */