* {
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1280px) {
#body {
    color: white;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    position: relative;


}


.bloque1 {
    display: flex;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    border-radius: 20px;


}

.calavera {
    height: 100px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    display: flex;
    opacity: 0.5;
    margin:  5px;


}


.haters{
    display: flex;
    position:relative;
    text-align:center;
    margin-top: -100px;
    margin-left: 165%;
    font-family:'Courier New', Courier, monospace;
    font-size: medium;


}

.articulos {
    color: rgba(245, 245, 245, 0.89);
    text-align: center;
    margin-top: -190px;
    margin-left: -1300px;

}

.bloque2 {
    color: black;
    background-color: black;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.bloque2 img {
    height: 100px;
    width: 25%;
    border: 20px;
    margin: 5%;
    position: center;

}

.Notificaciones{
    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: right;
    opacity: 0.3;
    
}



.visually-hidden{

    color: rgb(255, 0, 0);
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    float: right;
    margin-right: 10px;
    border-radius: 10px;
    
   
}
.lanzamientos{
   display: flex;
   width: 100%;
   margin-top: -20px;
   justify-content: center;
   color: red;
   text-align: center;
}




.bloque3 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.bloque3 ul a{
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
    
}


nav ul a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
}

.angel_caido{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    opacity: 0.2;
    position: relative;
   

}

@keyframes movimiento {
    from{
        background-position : bottom 
    }to{
        background-position: top left }

    }
.bloque4 {
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    background-image: url(/Proyecto/assets/angelcaido1.jpg);
    background-size: 100%;
    animation: movimiento 10s infinite linear alternate;
    border-radius: 40px;

}
.ruso{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 25px;
    margin-top: -500px;
    color: red;
    font-size:25px;
    text-align: center;

}

.hotsale{
    margin-top: 100px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    animation: cambiar 6s infinite alternate ;

}

@keyframes cambiar{
    0%{margin-right: 0;}
    20%{margin-right: 0;}
    

    25%{margin-right: 100px;}
    30%{margin-right: 150px;}
    40%{margin-right: 40px;}

    50%{margin-right: -40px;}
    60%{margin-right: -300px;}
    70%{margin-right: -800px;}
    80%{margin-right: 300px;}
    90%{margin-right: 800px;}


}


.footer{
    color:red;
    text-align: end;
    margin-top: 330px;
    margin-right: 20px;
}




.bloque21{
    color: black;
    background-color: black;
    height: 200px;
    width: 100%;
    display: flex;
}
    

.cervo{
    height: 100px;
    width: 200px;
    display: flex;
    margin-top: 50px;
    margin-left: 20px;

}

.formas{
    height: 100px;
    width: 50%;
    margin-top: -110px;
    margin-left: 460px;
    font-family:'Courier New', Courier, monospace;
    color:red;
    font-size: 25px;
    

  

}
.box{
   width: 220px;
   height: 25px;
   float: right;
   position: relative;
   margin-top: -100px;
   margin-right:50px;
   
}

.vete{
    width: 100%;
    height: 100%;
    color: black;
    margin-left: 10px;
    position: relative;


}
 
.contenedorventa{
    height: 100%;
    width: 100%;
    background-color: rgb(77, 13, 1);
    justify-content: center;
    align-items: center;


}

    .padre{
        display: grid;
        width: 650px;
        height: 500px;
        grid-template-columns:repeat(3,200px);
        grid-template-rows:repeat(3,200px);
        justify-items: center;
        column-gap: 20px;
        row-gap: 20px;
        align-content: space-between;
        background-color: brown;
        margin-left: 25%;
       
        
    }
    
    .hijo{
        width: 100%;
        height: 100%;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        padding: 20px;
        margin-left: 10px;
    

    }
    
    

    
    .buzoremeras{
        height: 100%;
        width: 100%;
    } 

.contactos{
    width: 300px;
   height: 75px;
   float: right;
   position: relative;
   margin-top: -100px;
   margin-right:50px;
  
  
}

.contactos1{
    color: rgba(255, 51, 0, 0.973);
    width: 100%;
    height: 100%;
    margin-left: 10px;
    position: relative;
    font-family:'Courier New', Courier, monospace;
    list-style:none;

}


.bloque41{
    width: 600px;
    height:100%;
    display: flex;
}
.angelmuriendo{
    display: flex;
    height: 800px;
    width: 100%;
    border-radius: 20px;
    opacity: 0.3;
    position: relative;
}
.input{
    height: 150px;
    width: 75%;
    margin-left: 25px;
  display: flex;
  margin-left: 25px;
  margin-top: -700px;
  position: absolute;

}
.input1{
    width: 275px;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.192);
    color: rgb(253, 253, 253);
    padding-top: 20px;
    border-radius: 25%;
    text-align: center;
    border-bottom: 3px solid;
}

.acuerdo{
    font-size: 60px;
color: rgba(209, 19, 19, 0.329);
}

.about{
    width: 100%;
    height: 900px;

}
.mascaras{
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.raro{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    margin-top: -500px;
}
.back{
    font-size: xx-large;
    list-style: none;
    text-decoration: none;
    color: rgb(252, 0, 0);
    font-size:xx-large;
    border-radius: 10px;
    padding: 5px;
}


.Comentarios{
    display: flex;
    width: 100%;
    height: 100%;
    color: rgb(240, 8, 8);
    
}
.textodearea{
    width: 100%;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40PX;
    text-align: center;
    color:rgba(240, 8, 8, 0.897);
    opacity: 0.3;
    border-radius: 20px;
    justify-content: center;

}
.Send{
    float: center;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 20px;
    text-align: center;








}
}

