@import "colores";
@import "tipografia";
@import "estructura";


$Alternos:(alterno1:rgba(226, 53, 0, 0.877), alterno2:rgb(236, 232, 0),alterno3:rgb(162, 0, 255));


@mixin sizes($w2 ,$h2) {
    width: $w2;
    height: $h2;
}



@media screen and (min-width: 1280px)
{
    
    #body {
        color:$w;
        background-color: $b;
        font-family:$letra;
        position: relative;
    
    
    }
    
    
    .bloque1 {
        display: flex;
        height: 100px;
        width: $w2;
        border-radius: 5px;
        position: relative;
        border-radius: 20px;
        .haters{
            display: flex;
            position:relative;
            text-align:center;
            margin-top: -100px;
            margin-left: 165%;
            font-family:$letra;
            font-size: medium;
        
        
        
        }
        
    }
    .articulos {
        display: flex;
        color: $w;
        text-align: center;
        margin-top: -150px;
        margin-left: 25px;
    
    }
    

    .calavera {
        height: $h1;
        width: $w2;
        border-radius: 5px;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        opacity: 0.5;
        margin:  5px;
    
    
    }
    
    
    
    
    .bloque2 {
        color: $b;
        background-color: $b;
        height: 200px;
        width: $w2;
        display: flex;
        justify-content: center;
        align-items: center;
                     img {
                        height: $h1;
                        width: 25%;
                        border: 20px;
                        margin: 5%;
                        position: center;                   
    }
}
    
    .Notificaciones{
        width: $w2;
        height: 25px;
        background-color: $b;
        display: flex;
        justify-content: right;
        opacity: 0.3;

        .visually-hidden{
    
            color: $r;
            font-size: medium;
            font-family:$letra;
            display: flex;
            float: right;
            margin-right: 10px;
            border-radius: 10px;
            
           
        }
        
    }
    .lanzamientos{
       display: flex;
       width: $w2;
       margin-top: -20px;
       justify-content: center;
       color: $r;
       text-align: center;
    }
    
    
    
    
    .bloque3 {
                        ul {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
    
                            
                                 a{
                                font-size: medium;
                                font-family:$letra;                            
                                list-style: none;
                                text-decoration: none;
                                color: $w;
                                font-size: 15px;
                                border-radius: 10px;
                                 padding: 5px;
                                      
                                 
                            }
                        }
                    }

 .bloque4 {
           @include sizes;
            text-align: left;
            position: relative;
            background-image: url(/Proyecto/assets/angelcaido1.jpg);
             background-size: $w2;
            animation: movimiento 10s infinite linear alternate;
            border-radius: 40px;
            .angel_caido{
                @include sizes;
                display: flex;
                border-radius: 20px;
                opacity: 0.2;
                position: relative;
            }
 }                      

 .ruso{
      font-size: larger;
    font-family: $letra;
     margin-left: 25px;
     margin-top: -500px;
     color: $r;
        font-size:25px;
         text-align: center;
                            
             }
                                            
         

    
    @keyframes movimiento {
        from{
            background-position : bottom 
        }to{
            background-position: top left }
    
        }

    
    .hotsale{
        margin-top: $w2;
        text-align: center;
        font-family:$letra2;
        color: $w;
        animation: cambiar 6s infinite alternate ;
    
    }
    
    @keyframes cambiar{
        0%{margin-right: 0;}
        20%{margin-right: 0;}
        
    
        25%{margin-right: 10px;}
        30%{margin-right: 15px;}
        40%{margin-right: 25px;}
    
        50%{margin-right: -25px;}
        60%{margin-right: -30px;}
        70%{margin-right: -80px;}
        80%{margin-right: 30px;}
        90%{margin-right: 80px;}
    
    
    }
    
    
    .footer{
        color:$r;
        text-align: end;
        margin-top: 330px;
        margin-right: 20px;
    }
    
    
    .footer2{
        @include sizes;
        display: Flex;
        background-color:$b;
        justify-content: center;
    
                
                .suscribirse{
                    width: 50%;
                    height: 50%;
                    border-radius: 20px;
                    background-color:rgba(146, 144, 144, 0.644);
                    
                        
                    .derivados {
                                list-style: none;
                                text-decoration: none;
                                color: $r;
                                font-size: 30px;
                                border-radius: 10px;
                                padding: 5px;
                                
                            }
                        }
                }           
    
    .nuevasideas{
        @extend .suscribirse;
        background-color:map-get($map:$Alternos, $key:alterno1)
    }

    .derivados2{
        @extend .derivados;
        color:map-get($map:$Alternos, $key:alterno3)
    }


     
    
    /*----- termina el index----*/
    
    
    
    
    
    
    
    
    
    .bloque21{
        color: $b;
        background-color: $b;
        height: 200px;
        width: $w2;
        display: flex;
    }
        
    
    .cervo{
        height: $h2;
        width: 200px;
        display: flex;
        margin-top: 50px;
        margin-left: 20px;
    
    }
    
    .formas{
        height: $h2;
        width: 50%;
        margin-top: -110px;
        margin-left: 460px;
        font-family:$letra;
        color:$r;
        font-size: 25px;
        
    
      
    
    }
    .box{
       width: 220px;
       height: 25px;
       float: right;
       position: relative;
       margin-top: -100px;
       margin-right:50px;
       
    }
    
    .vete{
        @include sizes;
        color: $b;
        margin-left: 10px;
        position: relative;
    
    
    }
     
    .contenedorventa{
       @include sizes;
        background-color:$m;
        justify-content: center;
        align-items: center;
    
    
    }
    
        .padre{
            display: grid;
            width: 650px;
            height: 500px;
            grid-template-columns:repeat(3,200px);
            grid-template-rows:repeat(3,200px);
            justify-items: center;
            column-gap: 20px;
            row-gap: 20px;
            align-content: space-between;
            background-color: $m;
            margin-left: 25%;
           
            
        }
        
        .hijo{
            width: $w2;
            height: $h1;
            color: $b;
            text-align: center;
            font-family: $letra;
            padding: 20px;
            margin-left: 10px;
        
    
        }
        
        
    
        
        .buzoremeras{
            @include sizes;
        } 
    
    .contactos{
        width: 300px;
       height: 75px;
       float: right;
       position: relative;
       margin-top: -100px;
       margin-right:50px;
      
      
    }
    
    .contactos1{
        @include sizes;
        color: $r;
        margin-left: 10px;
        position: relative;
        font-family:$letra;
        list-style:none;
    
    }
    
    
    .bloque41{
        width: 600px;
        height:$h2;
        display: flex;
    }
    .angelmuriendo{
        display: flex;
        height: 800px;
        width: $w2;
        border-radius: 20px;
        opacity: 0.3;
        position: relative;
    }
    .input{
        height: 150px;
        width: 75%;
        margin-left: 25px;
      display: flex;
      margin-left: 25px;
      margin-top: -700px;
      position: absolute;
    
    }
    .input1{
        width: 275px;
        height: 40px;
        background-color: $m;
        color: $w;
        padding-top: 20px;
        border-radius: 25%;
        text-align: center;
        border-bottom: 3px solid;
    }
    
    .acuerdo{
        font-size: 60px;
    color: $m;
    }
    
    .about{
        width: $w2;
        height: 900px;
    
    }
    .mascaras{
        @include sizes;
        opacity: 0.2;
    }
    .raro{
        text-align: center;
        font-family: $letra;
        color: $r;
        margin-top: -500px;
    }
    .back{
        font-size: xx-large;
        list-style: none;
        text-decoration: none;
        color: $r;
        font-size:xx-large;
        border-radius: 10px;
        padding: 5px;
    }
    
    
    .Comentarios{
        @include sizes;
        display: flex;
        color: $r;
        
    }
    .textodearea{
        width: $w2;
        height: 50px;
        font-family: $letra;
        font-size: 40PX;
        text-align: center;
        color:$r;
        opacity: 0.3;
        border-radius: 20px;
        justify-content: center;
    
    }
    .Send{
        float: center;
        width: 200px;
        font-family: $letra;
        color: $r;
        font-size: 20px;
        text-align: center;
    
    }
    }
    

@media (max-width: 767.98px) {
        #body {
            color: $w;
            background-color: $b;
            font-family:$letra;
            position: relative;
        
        
        }
        
        
        .bloque1 {
            display: flex;
            height: 50px;
            width: $w2;
            position: relative;
            border-radius: 20px;
            text-align: center;
            justify-content: center;
            margin-top: -50px;
            font-size: 10px;
        
        
        }
        
        .calavera {
            height: 50px;
            width: $w2;
            border-radius: 25px;
            position: relative;
            justify-content: center;
            align-items: center;
            display: flex;
            opacity: 0.2;
            margin:  5px;
        
        
        }

        .articulos {
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: medium;
            font-size: small;
            color: $v;
    
    
        }
        
        
        .bloque2 {
            color: $b;
            background-color: $b;
            height: 100px;
            width: $w2;
            display: flex;
            justify-content: center;
            align-items: center;
                          img {
                            height: 100px;
                            width: 45%;
                             color: $m;
                            margin-right: 20px;

                            }
        }
    
        .bloque21{
            color: $b;
            background-color: $b;
            height: 120px;
            width: $w2;
            display: flex;
            justify-content: center;
        }
    
        .cervo{
            height: 120px;
            width: 200px;
            display: flex;
            position: center;
            float:center;
    
        }
    
    
        .formas{
            height: 15px;
            width: 50%;
            font-family:$letra;
            color:$w;
            font-size: 15px;
    
        }
    
    
        .Notificaciones{
            width: $w2;
            height: 25px;
            background-color: $w;
            display: flex;
            justify-content: right;
            opacity: 0.3;
            border-radius: 20px;
                 
                                .visually-hidden{
                                
                                    color: $b;
                                    font-size: medium;
                                    font-family:$letra;
                                    display: flex;
                                    float: right;
                                    margin-right: 10px;
                                    border-radius: 10px;
                                    
                                             }
                                }
        .lanzamientos{
           display: flex;
           width:$w2;
           margin-top: -20px;
           justify-content: center;
           color: $v;
           text-align: center;
        }
        
        
        
        
        .bloque3 {
                                ul {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
        
        
                            
                                    a {
                                list-style: none;
                                text-decoration: none;
                                color: $r;
                                font-size: 15px;
                                border-radius: 10px;
                                padding: 5px;
      
                            }   
                         }
                    }
        
        
        .angel_caido{
            @include sizes;
            display: flex;
            border-radius: 40px;
            opacity: 0.3;
            position: relative;
           
        
        }
        
        @keyframes movimiento {
            from{
                background-position : bottom 
            }to{
                background-position: top left }
        
            }
        .bloque4 {
            @include sizes;
            text-align: left;
            position: relative;
            background-image: url(/Proyecto/assets/angelcaido1.jpg);
            background-size: 100%;
            animation: movimiento 10s infinite linear alternate;
            border-radius: 40px;
                                .angel_caido{
                                    display: flex;
                                    height: 100%;
                                    width:$w2;
                                    border-radius: 40px;
                                    opacity: 0.3;
                                    position: relative;
                                
                                
                                }
                             }
        .ruso{
            font-family: $letra;
            margin-left: 25px;
            margin-top: -500px;
            color: $v;
            font-size:25px;
            text-align: center;
        
        }
        
        .hotsale{
            margin-top: 80px;
            text-align: center;
            font-family:$letra;
            color: rgb(106, 134, 2);
        }
        
        
        
        .footer{
            color:$v;
            text-align: end;
            margin-top: 330px;
            margin-right: 20px;
        }
          
        footer2{
            display: Flex;
            width: $w2;
            height: 100px;
            background-color:$b;
            justify-content: center;
        
                    
                    .suscribirse{
                        width: 50%;
                        height: 50%;
                        border-radius: 20px;
                        background-color:rgba(146, 144, 144, 0.644);
                        
                            
                        .derivados {
                                    list-style: none;
                                    text-decoration: none;
                                    color: $r;
                                    font-size: 30px;
                                    border-radius: 10px;
                                    padding: 5px;
                                    
                                }
                            }
                    }           
        
        .nuevasideas{
            @extend .suscribirse;
            background-color:map-get($map:$Alternos, $key:alterno1)
        }
    
        .derivados2{
            @extend .derivados;
            color:map-get($map:$Alternos, $key:alterno3)
        }
    
                                                        /* termina index*/

             
    .bloque21{
        color: $b;
        background-color: $b;
        height: 200px;
        width: $w2;
        display: flex;
    
                        .cervo{
                            height: 100px;
                            width: 200px;
                            display: flex;
                            float: left;
                        
                        }
                    }
    
    .formas{
        height: 100px;
        width: 50%;
        margin-top: -50px;
        margin-left: 100px;
        font-family:$letra;
        color:$v;
        font-size: 15px;
        
    
      
    
    }
  
    .box{
       width: 220px;
       height: 25px;
       float: right;
       position: relative;
       margin-top: -100px;
       margin-right:50px;
       
                    .vete{
                        width: $w2;
                        height: 100%;
                        color: $b;
                        margin-left: 5px;
                        position: relative;

                    }

    }
    
     
    .contenedorventa{
        @include sizes;
        background-color:$v;
        justify-content: center;
        align-items: center;
    
                                .padre{
                                    @include sizes;
                                    display: grid;
                                    grid-template-columns:repeat(3,125px);
                                    grid-template-rows:repeat(3,125px);
                                    justify-items: center;
                                    column-gap: 10px;
                                    row-gap: 10px;
                                    align-content: space-around;
                                    background-color: $v;
                                    margin-left: 25%;
                                
                                                    .hijo{
                                                        width: $w2;
                                                        height: 100%;
                                                        color: $b;
                                                        text-align: center;
                                                        font-family: $letra;
                                                        padding: 20px;
                                                        margin-left: 10px;
                                                    
                                                
                                                    }
                                                }
                                            }
    
        
        .buzoremeras{
          @include sizes;
        } 
    
    .contactos{
        width: 300px;
       height: 75px;
       float: right;
       position: relative;
       margin-top: -100px;
       margin-right:50px;
      
      
    }
    
    .contactos1{
        color: $v;
        width: $w2;
        height: 100%;
        margin-left: 10px;
        position: relative;
        font-family:$letra;
        list-style:none;
    
    }
    
    
    .bloque41{
        width: 500px;
        height:100%;
        display: flex;
    
                        .angelmuriendo{
                            display: flex;
                            height: 500px;
                            width: $w2;
                            border-radius: 10px;
                            opacity: 0.3;
                            position: relative;
                  
                                    .input{
                                        height: 150px;
                                        width: 75%;
                                        margin-left: 25px;
                                        display: flex;
                                        margin-left: 25px;
                                        margin-top: -100px;
                                        position: absolute;
                                        
    
                                                    .input1{
                                                        width: 275px;
                                                        height: 40px;
                                                        background-color: $v;
                                                        color: $w;
                                                        padding-top: 20px;
                                                        border-radius: 25%;
                                                        text-align: center;
                                                        border-bottom: 3px solid;

                                                        .acuerdo{
                                                            font-size: 60px;
                                                        color: $v;

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    
                                          
                                           
    
       /* aca comienza pagina about us */
    
    
    .about{
        width: $w2;
        height: 500px;
    
    }
    .mascaras{
        width: $w2;
        height: 500px;
        opacity: 0.2;
    }
    .raro{
        text-align: right;
        font-family: $letra;
        font-size: 15px;
        color: $v;
        margin-top: -300px;
        margin-right: 20px;
    }
    .back{
        font-size: xx-large;
        list-style: none;
        text-decoration: none;
        color: $v;
        font-size:xx-large;
        border-radius: 10px;
        padding: 5px;
    }
    
    
    .Comentarios{
        @include sizes;
        display: flex;
        color: $v;
    
    }
    .textodearea{
        width: $w2;
        height: 50px;
        font-family: $letra;
        font-size: 20PX;
        text-align: center;
        color:$v;
        opacity: 0.3;
        border-radius: 10px;
        justify-content: center;
    
    }
    .Send{
        float: center;
        width: 200px;
        font-family: $letra;
        color: $b;
        font-size: 10px;
        text-align: center;
    
    
    
    
    
    
    
    
    }
}

